<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat-App</title>


</head>
<body>
<h1>My Chat App</h1>
<form action="/chat"> 
    <div>
        <label for="username">Enter your Username</label>
        <input type="text" name="username" id="username" placeholder="example123">
    </div>
    <div>
            <label for="room">Enter the room ID</label>
            <input type="text" name="room" id="room" placeholder="example123">
    </div>
    <button type="submit">Enter</button>
</form>


</body>
</html>
